<% layout('layouts/post-show-layout') -%>
<h1><%= post.title %></h1>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div>
    <% post.images.forEach(function(image){ %>
        <div>
            <img src="<%=image.url %>" alt="Surf-Shop Images" width="100px"/>
            <a href="<%=image.public_id%>"><%=image.public_id%></a>
        </div>
    <% }); %>
</div>
<div id='map'></div>
<div> <a href="/posts/<%= post.id %>/edit">
    <button>EDIT POST</button></a> </div>


<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
	<input type="submit" value="Delete" />
</form>


<h3>Create a new review</h3>
<form action="/posts/<%= post.id %>/reviews" method="POST">
    <textarea name="review[body]" id="" cols="10" rows="5"></textarea>
    <input type="number" name="review[rating]" min="1" max="5" step="1" required/>
	<input type="submit" />
</form>
<h2>Reviews</h2>
<% post.reviews.forEach(function(review){ %>
<div>
    Reviews.... : <%= review.body %>
    Rating  : <%= review.rating %>
</div>
<% }); %>


